doctype html
html
  head
    title #{artwork.Title} - Art Details
    link(rel="stylesheet" href="/styles.css")

  body
    include ./partials/header
    h1 #{artwork.Title} - Art Details
    img(class='artwork-image', src=artwork.Poster, alt=artwork.Title)
    ul
      li Artist: 
        a(href=`/main/user/${user._id}`)= artwork.Artist
      li Year: #{artwork.Year}
      li Category: #{artwork.Category}
      li Medium: #{artwork.Medium}
      li Description: #{artwork.Description}
    div#artrate
        form(action=`/main/art/${artwork._id}/review`, method="POST")
            label(for="review") Add a Review:
            input(type="text", name="review", required)
            button(type="submit") Send Review
        if user._id.toString() !== session.user._id.toString()
            if artwork.artlikes.includes(session.user._id.toString())
                form(action=`/main/art/${artwork._id}/unlike`, method="POST")
                    button(type="submit") Unlike Artwork
            else
                form(action=`/main/art/${artwork._id}/like`, method="POST")
                    button(type="submit") Like Artwork
        if(artwork.artlikes && artwork.artlikes.length > 0)
            p This artwork has #{artwork.artlikes.length} like(s).