head
  title Search Artworks
  link(rel="stylesheet" href="/styles.css")

body
  include ./partials/header
  h1 Search Artworks

  form(action="/main/search", method="POST")
    label(for="searchInput") Search:
    input(type="text", name="searchInput")

    button(type="submit") Search

    div
        if searchResults.length > 0
            h2 Search Results

            div.pagination
                if currentPage > 1
                    a(href=`/main/search?page=${currentPage - 1}`) Previous
                span.page-info Page #{currentPage} of #{totalPages}
                if currentPage < totalPages
                    a(href=`/main/search?page=${currentPage + 1}`) Next
                    
            ul.artworks
                each artwork in searchResults
                    div.artwork-container
                        div
                        a #{artwork.Artist}
                        a(href=`/art/${artwork._id}`)
                            img(class='artwork-image', src=artwork.Poster, alt=artwork.Title)


            // Pagination
            div.pagination
                if currentPage > 1
                    a(href=`/main/search?page=${currentPage - 1}`) Previous
                span.page-info Page #{currentPage} of #{totalPages}
                if currentPage < totalPages
                    a(href=`/main/search?page=${currentPage + 1}`) Next
        else
            p No results found.
