html
  head
    title #{user.username}'s Profile
    script(src="/client.js")
    link(rel="stylesheet" href="/styles.css")

  body
    include ./partials/header
    div#profile-content
      h1 #{user.username}'s Profile
      p #{user.username} is a #{user.type}.
      if user.followedBy && user.followedBy.length > 0
        p #{user.username} has #{user.followedBy.length} follower(s).

      if following === true
        form(action=`/user/${user._id}/unfollow`, method="POST")
          button(type="submit") Unfollow user
        p You are following this user.
      else
        form(action=`/user/${user._id}/follow`, method="POST")
          button(class = "standalone",type="submit") Follow user
        p You are not following this user.

      if reviews && reviews.length > 0
        h2 Their Reviews
        ul#user-reviews
          each review in reviews
            li
              a(href=`/art/${review.artworkid}`)= review.artwork
              span.white : #{review.text}
      else
        p They have not made any reviews.

      if user.type === "artist"
        if user.artworks && user.artworks.length > 0
          p #{user.username} has created the following artworks:
          ul#user-artworks
            each art in artlist
              li 
                a(class = "standalone", href=`/art/${art._id}`)= art.Title
        else
          p This artist has not created any artworks yet.
        
        if user.workshops && user.workshops.length > 0
          h2 #{user.username} has created the following workshops:
          ul#user-workshops
            each workshop in user.workshops
              li 
                a(href=`/main/work/${workshop._id}`)= workshop.title
        else
          p This artist has not created any workshops yet.
