html
  head
    title Workshop Information
    link(rel="stylesheet", href="/styles.css")
    script(src="/client.js")

body
    include ./partials/header
    h1#workshop-title Workshop Details

    if workshop
        div#workshop-details
            ul#workshop-info
                li
                    strong Title:   
                    span= workshop.title
                li
                    strong Host:    
                    a#host-link(href=`/user/${workshop.hostid}`)= workshop.host
                li
                    strong Location:    
                    span= workshop.location
                li
                    strong Date:    
                    span= workshop.date

            if workshop.participants && workshop.participants.length > 0
                h3#participants-header Participants
                ul#participants-list
                    each participant in workshop.participants
                        li#participant
                            a(href = `/user/${participant.id}`) #{participant.username}
            else
                p#participants-info No participants yet.

            if (session.user && workshop.host !== session.user.username && (!workshop.participants.some(participant => participant.username === session.user.username)))
                button#join-button(type="button", onclick=`joinWorkshop('${workshop._id}')`) Join Workshop

            if (session.user && workshop.participants && workshop.participants.some(participant => participant.username === session.user.username))
                button#leave-button(type="button", onclick=`leaveWorkshop('${workshop._id}')`) Leave Workshop


    else
        p#workshop-not-found Workshop not found
