html
  head
    title Workshop Information
    link(rel="stylesheet", href="/styles.css")
    script(src="/client.js")


body 
    include ./partials/header
    h1 Workshop Details
    if workshop
        p Title: #{workshop.title}
        p Host:
            a(href=`/main/user/${workshop.hostid}`)= workshop.host
        p Location: #{workshop.location}
        p Date: #{workshop.date}
        if workshop.participants && workshop.participants.length > 0
            h3 Participants
            ul
                each participant in workshop.participants
                    li= participant
        else
        p No participants yet.

        if (session.user && workshop.host !== session.user.username && (!workshop.participants || !workshop.participants.includes(session.user.username)))
            button(type="button", onclick=`joinWorkshop('${workshop._id}')`) Join Workshop

        if (session.user && workshop.participants && workshop.participants.includes(session.user.username))
            button(type="button", onclick=`leaveWorkshop('${workshop._id}')`) Leave Workshop

    else
        p Workshop not found