html
  head
    title Workshop Information
    link(rel="stylesheet", href="/styles.css")

body 
    include ./partials/header
    h1 Workshop Details
    if workshop
        p Title: #{workshop.title}
        p Host: #{workshop.host}
        p Location: #{workshop.location}
        p Date: #{workshop.date}
        if workshop.participants && workshop.participants.length > 0
            h3 Participants
            ul
                each participant in workshop.participants
                    li= participant
        else
        p No participants yet.

        if (session.user && workshop.host !== session.user.username && (!workshop.participants || !workshop.participants.includes(session.user.username)))
            form(action=`/main/work/${workshop._id}/join`, method="POST")
                button(type="submit") Join Workshop
        
        if (session.user && workshop.participants && workshop.participants.includes(session.user.username))
            form(action=`/main/work/${workshop._id}/leave`, method="POST")
                button(type="submit") Leave Workshop
    else
        p Workshop not found